@media (max-width: 1330px) {
  .slick .slick-arrow.slick-prev:after {
    right: -50px;
  }
  .slick .slick-arrow.slick-next:after {
    left: -50px;
  }
}/*  max-width 1330px */

@media (max-width: 1200px) {
  .header {
    height: 50px;
  }
  .humberger {
    z-index: 51;
    padding-right: 6px;
    display: block;
  }
  .humberger span {
    width: 20px;
    height: 4px;
    background-color: white;
    margin-bottom: 2px;
    display: block; 
  }
  .humberger span:last-child {
    margin-bottom: 0;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 52;
    transition: opacity 0.8s ease 0s;
  }
  .overlay.open {
    width: 100vw;
    opacity: 1;
  }
  .menu__box {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transform: perspective(600px) translate(-100%, 0) rotateY(-45deg);
    width: 298px;
    height: 100vh;
    background: #18002B;
    z-index: 53;
    transition: all 0.8s ease 0s;
    overflow-y: auto;
    overflow-x: hidden; 
  }
  .menu__box::-webkit-scrollbar {
    width: 0;
  }
  .menu__box.open {
    opacity: 1;
    transform: perspective(600px) translate(0, 0) rotateY(0deg);
  }
  .logo__2 {
    display: inline-block;
    margin: 50px 16px 5px;
  }
  .close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    cursor: pointer;
  }
  .link {
    display: block;
    margin: 15px 16px;
    padding-right: 40px;
  }
  .link.child::before {
    content: '';
    position: absolute;
    top: 0;
    right: 100px;
    height: 20px;
    width: 20px;
    background-image: url(../img/arrow.svg);
    transform: rotate(-90deg);
    transition: 0.3s ease 0s;
  }
  .link.child.open::before {
    transform: rotate(0deg);
  }
  .drop__down {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease 0s;
  }
  .drop__links li {
    margin: 10px 0 0;
  }
  .drop__links li:first-child {
    margin-top: 15px;
  }
  .drop__links li a {
    font-size: 14px;
    color: #DEDEDE;
  }
  .links__2 {
    display: none;
  }
  .library {
    display: block;
    padding: 15px 16px 50px;
    border-top: 2px solid #939393;;
  }
  .library a {
    font-size: 18px;
    color: white;
  }
  .logo__box {
    background: none;
  }
  .logo__box:before,
  .logo__box:after {
    display: none;
  }
  .logo {
    margin-right: 0px;
  }
  .logo img {
    height: 22px;
  }
  .search__box {
    position: relative;
  }
  .search__box .search__hover {
    display: block;
    font-size: 16px;
    padding: 4px 5px;
    color: white;
  }
  .search__box form {
    position: absolute;
    top: 0;
    right: 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: perspective(600px) translate(100%, 0%) rotateX(45deg);
    transition: 0.8s ease 0s;
  }
  .search__box:hover form {
    visibility: visible;
    opacity: 1;
    transform: perspective(600px) translate(0, 0) rotateX(0deg);
  }
  .search__box input {
    border-radius: 4px;
  }

  .wrapper {
    padding: 66px 0 40px;
  }
  .posts__box {
    padding-top: 20px;
  }
  .posts__box__3 {
    padding: 5px 0 50px;
  }
  .slick__class {
    margin: 5px 0 15px;
  }
  .footer__logo img {
    height: 17px;
  }
  .copyright__text {
    font-size: 11px;
  }
  .header__bar {
    display: none;
  }
  .catalog {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .catalog__text {
    display: none;
  }
  .filter__options {
    left: unset;
    right: 0;
  }

}/*  max-width 1200px */



@media (max-width: 1080px) {
  .poster__properties {
    padding: 10px 10px 9px;
  }
  .rating {
    font-size: 30px;
    line-height: unset;
  }
  .stars {
    font-size: 15px;
  }
  .poster__properties p {
    font-size: 12px;
    line-height: unset;
  }
  .view {
    width: 70px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
  }
  .view i {
    margin-right: 4px;
  }
  .slick__class .slick-list,
  .posts__2 {
    padding-top: 15px;
    margin: 0 -7px;
  }
  .slick__class .slick-slide {
    margin: 0 7px;
  }
  .posts__2 .poster {
    margin: 0 7px 15px;
    flex: calc(100% / 5 - 14px);
    max-width: calc(100% / 5 - 14px);
  }


}/*  max-width 1070px */


@media (max-width: 902px) {
  .posts__2 .poster {
    flex: calc(100% / 4 - 14px);
    max-width: calc(100% / 4 - 14px);
  }
}


@media (max-width: 850px) {
  .wrapper {
    padding: 50px 0 20px;
  }
  .slick .slick-arrow:after {
    display: none;
  }
  .slick .slick-list {
    margin: 0 -16px;
  }
  .slick .slick-slide {
    margin: 0 0px;
  }
  .slick__class .slick-arrow {
    visibility: hidden;
    opacity: 0;
  }
  .poster__title {
    font-size: 14px;
  }
  .poster__category {
    font-size: 12px;
  }
  .slick__3 .slick-list {
    margin: 0 -4px;
  }
  .slick__3 .slick-slide {
    margin: 0 4px;
  }
  .footer__wrapper {
    display: none;
  }
  .copyright {
    background: #1F1F1F;
  }
  .catalog {
    margin-top: 15px;
  }
  .pagination a {
    font-size: 12px;
    width: 30px;
    height: 25px;
    line-height: 25px;
  }

}/*  max-width 850px */

@media (max-width: 681px) {
  .posts__2 .poster {
    flex: calc(100% / 3 - 14px);
    max-width: calc(100% / 3 - 14px);
  }
}

@media (max-width: 460px) {
  .posts__2 .poster {
    flex: calc(100% / 2 - 14px);
    max-width: calc(100% / 2 - 14px);
  }
}


@media (max-width: 400px) {
  .copyright__wrap {
    flex-wrap: wrap;
  }
  .footer__logo {
    margin: 0 28px 10px 0;
  }
}/*  max-width 450px */
